<div class="jumbotron">
  <h1>Welcome to Fantasy Drag Race</h1>
  <p>Welcome to my MVP Project for HackReactor.  This is the first project that I have ever built.  This entire project was built in under two days.  I hope you enjoy!  Check out the links below to learn more about me!</p>
  <p>
    <a class="btn btn-primary btn-lg" href="https://www.facebook.com/ROdoubleB" role="button">Facebook</a>
    <a class="btn btn-primary btn-lg" href="http://www.linkedIn.com/in/rmarsee" role="button">LinkedIn</a>
  </p>
</div>