<h3>Who do you think will win this week? </h3>

<div class="btn-group" role="group" aria-label="...">
  
  <button type="button" ng-click='selection = "1"' class="col-md-4 btn btn-default"><img height='100'src='../images/adore.jpg'><p>Adore Delano</p></button>
  
  <button type="button" ng-click='selection = "2"' class="col-md-4 btn btn-default"><img height='100'src='../images/alaska.jpg'><p>Alaska</p></button>
  
  <button type="button" ng-click='selection = "3"' class="col-md-4 btn btn-default"><img height='100'src='../images/alyssa.jpg'><p>Alyssa Edwards</p></button>

  <button type="button" ng-click='selection = "4"' class="col-md-4 btn btn-default"><img height='100'src='../images/coco.jpg'><p>Coco Montrese</p></button>
  
  <button type="button" ng-click='selection = "5"' class="col-md-4 btn btn-default"><img height='100'src='../images/detox.jpg'><p>Detox</p></button>
  
  <button type="button" ng-click='selection = "6"' class="col-md-4 btn btn-default"><img height='100'src='../images/ginger.jpg'><p>Ginger Minj</p></button>

  <button type="button" ng-click='selection = "7"' class="col-md-4 btn btn-default"><img height='100'src='../images/katya.jpg'><p>Katya</p></button>
  
  <button type="button" ng-click='selection = "8"' class="col-md-4 btn btn-default"><img height='100'src='../images/phiphi.jpg'><p>Phi Phi O'Hara</p></button>
  
  <button type="button" ng-click='selection = "9"' class="col-md-4 btn btn-default"><img height='100'src='../images/roxxxy.jpg'><p>Roxxxy Andrews</p></button>
  
  <button type="button" ng-click='selection = "10"' class="col-md-4 btn btn-default"><img height='100'src='../images/tatianna.jpg'><p>Tatianna</p></button>
  

  {{selection}}
  <button>Submit!</button>

  
</div>
